/*common.css*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

	:root {
		--primary-text-color: #000;
		--primary-bg-color: #efe1e1;
        --primary-font-family: 'Roboto', sans-serif;
        --primary-font-size: 0.875rem;
	}
	footer {
		--footer-text-color: #fff;
		--fuuter-bg-color: #000;
	}
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }