/* nav */

.page-header {
    background-color: white;
    
    /* brand */
    > .brand {
        color: var(--primary-text-color);
        font-weight: 800;
        font-size: 1.5rem;
        
    }
    > .navbar {
        > a {
            font-size: 1.1rem;
            color: var(--anchor-color);
            margin: 20px;
        }
        > a:hover {
            color: var(--anchor-active-color);
            text-decoration: underline;
        }
    }
    > .toolbar {
        > a {
            font-size: 1.1rem;
            color: var(--main-color);
            margin: 10px;
        }
        > a:hover {
            color: var(--anchor-active-color);
        }
        > a:active {
            color: rgb(226, 43, 198);
        }
    }
}