@charset "UTF-8";
/* 4 */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
div {
  font-size: 1m;
}
span {
  font-size: 1.6em;
}

/* 5 */
strong {
  font-size: 1.6rem;
}
/* 6 */
ul {
  list-style: square;
}